apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: multi-platform-suite-component-ftrt
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/multi-platform-build-tenant/multi-platform-suite-application-twev/multi-platform-suite-component-ftrt@sha256:03cf14a09087e44f580c18cc43aa3f3bc23c239899ff9e5a7b9152c855b646ff
        name: my-go
        resources: {}
status: {}
